[Oo]bj/
[Oo]bj-3.5/
[Bb]in/
bin-js/
*.vs/
*.vscode/
*.suo
*.VC.opendb
*.VC.db
*.user
_ReSharper.*
*.ReSharper
*.resharper.user
*.DotSettings
VersionInfo.cs
Web/WinUserControls
Web/NativeMessagingPlugins
Visual Studio 2010
/logs/
archive
EproSpeechServer/Application/
Web/Scripts/CoreLib/Constants/Constants.js
Web/Scripts/Lib/WorkflowStateList/Definitions.js
ConnectionStrings.xml
*.opensdf
*.sdf
Packages.dgml
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Web/Grids/Definitions/Add-MissingVerificationRules.ps1
Web/Grids/Definitions/Cached.dll
Web/Grids/ColumnRules/Cached.dll
Web/Grids/Definitions/*/Cached.dll
Web/Grids/Definitions/*/*/Cached.dll
Lib/ScriptInterface.dll
Web/Config/sites/**/*.dll
Web/Config/sites/**/CodeContracts/
DatabaseScripts/MultilexDDF/cr_procs.log
DripFeedServiceSetup/Release/
/DripFeedServiceSetup/Debug
Web.Tests.Client/Scripts/
Web.Tests.Client/Specs/
Web.Tests.Client/Mobile/
Web.Tests.Client/StyleSheets/
Web.Tests.Client/Templates/
Web.Tests.Client/NavDependencies/
Web.Tests.Client/Dependencies/
Web.Tests.Client/NavFramework/
Web.Tests.Client/Framework/
Web.Tests.Client/NavApp/
Web.Tests.Client/App/
Web.Tests.Client/NavSpecs/
Web.Tests.Client/Specs/
Epro.Mobile.Tests.Client/Scripts/
Epro.Mobile.Tests.Client/Specs/
Epro.Mobile.Tests.Client/Mobile/
Epro.Mobile.Tests.Client/StyleSheets/
Epro.Mobile.Tests.Client/Templates/
Epro.Mobile.Tests.Client/NavDependencies/
Epro.Mobile.Tests.Client/Dependencies/
Epro.Mobile.Tests.Client/NavFramework/
Epro.Mobile.Tests.Client/Framework/
Epro.Mobile.Tests.Client/NavApp/
Epro.Mobile.Tests.Client/App/
Epro.Mobile.Tests.Client/NavSpecs/
Epro.Mobile.Tests.Client/Specs/
Epro.Mobile.Tests.Client/Vendor/
!Build/Gallio/bin
Deployment/SampleData/docs/generatedDocumentCache
Tools/WSHAlertsMonitor/data/
Web/Offline.html
Tools/NHibernateProfiler3/log.txt
Web/Bluewire.Documents.Service
_NCrunch_*
TestResult.xml

/TestResults/
Bluewire.Speech.Engine/Debug/*
Bluewire.Speech.Engine/Release/*
Debug/Bluewire.Speech.Engine.*
Release/*.dll
Release/*.pdb
Debug/Interop.SpeechLib.5.4.dll
ANTSProfiler/
ipch/*
Bluewire.Speech.SoundTouch/bin
Bluewire.Speech.SoundTouch/obj
Epro.Mobile/build
Bluewire.Epro.Modern.Framework/build
Bluewire.Epro.Modern.ServiceAndGeneratedPages/build

**/Server.ts
**/Service.ts
**/KioskWindows.ts
**/GeneratedPages.ts
Bluewire.Epro.Configuration/Config/**/*.jcr

!**/node_modules/**

# We use NuGet package restore for this repo.
/packages/**

# Exclude Office temp files
~$*
Dictation/Bluewire.Dictation.Service/Bluewire.Dictation.Service.Log.*
packaging-temp/
Publish/
Epro.Mobile/**/*.css.ts
/Epro.Mobile/webpack-output

# Exclude Reporting user settings and backup files
* - Backup.rdl
*.rptproj.rsuser

